html, body{
	height: 100%;
}

body {
	padding-top: 100px;
}

#navbar-gap{
	margin-top: -4%;
}

.product-image{
	width: 100%;
}

#productStyle{
height:40px;
}	

#navbar-demo{
	background-color: white;
}
#navbar-demo a{
	color: black;
}
#navbar-demo a:hover{
	color: #EA1B82;
	background-color: white;
}

#pink{
	color: white;
	background-color: #EA1B82;
}



footer{
	width: 100%;
	background-color: #F0F0F0;
}

.image {
  width: 100%;
  height: 250px;
  margin-bottom:150px;
  background-size: cover;
  background-position: center center;
}

#pink-hover:hover{
  color: #EA1B82;
}

.thumbnail img{
	width: 100%;
}
.thumbnail{
	padding: 0;
}