body {
	padding-top: 100px;
}

#navbar-gap{
	margin-top: -4%;
}

.product-image{
	width: 100%;
}

#productStyle{
height:40px;
}	

#navbar-demo{
	background-color: pink;
}
#navbar-demo a{
	color: white;
}
#navbar-demo a:hover{
	color: blue;
}