<% layout("layout") -%>

<div class="row">
<div class="col-lg-4 col-md-4"></div>
	<div class="col-lg-4 col-md-4">

		<% if(message.length >0){ %>
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					
				</button>
				<%= message %>
			</div>
		<% } %>
		<% if(signin.length >0){ %>
			<div class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					
				</button>
				<%= signin %>
			</div>
		<% } %>
	</div>
</div>

		<div class="row">
		<div class="col-md-4 col-sm-4"></div>
		<div class="col-md-4 col-sm-4">
		<div class="square">
		<form action="/login" method="POST" class="form-signin">
		<h1 class="form-signin-heading text-muted">Sign In</h1>
				<input class="form-control" type="text" name="email" placeholder="email">
			<input class="form-control" type="password" name="password" placeholder="password">
			<button class="btn btn-success form-control">Submit</button>
		</form>
		</div>
		</div>
		</div>
