<% layout("layout") -%>

<div class="container">

	<div class="row">
		<div class=" col-xs-12 col-sm-12 col-md-3">
			<img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt="">
			<br>
			<p>Name: <%= user.profile.name %></p>
			<p>Email: <%= user.email %></p>
			<% if(user.address === "" || typeof user.address === "undefined"){ %>
			<p>Address: <span style="color: #c0392b; font-weight: bold">You have no address</span></p>
			<% } else { %>
			<p>Address: <%= user.address %></p>
			<% } %>
			<div class="form-group">
			<a class="form-control btn btn-warning" href="/edit-profile">Edit Profile</a>
			</div>
			<% if(user.isAdmin || user.superUser === true){ %>
				<div class="form-group">
					<label class="text-center form-control">Admin Settings: </label>
						<a href="/users" class="form-control btn btn-success">Users</a>
						<a href="/product" class="form-control btn btn-success">Product</a>
				</div>
			<% } %>
		</div>
		
		<div class="col-sm-12 col-xs-12 col-md-9">
			<table>
				<thead>
				</thead>
				<tbody>
					<tr>
						
					</tr>
					<tr>
						
					</tr>
					<tr>

					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</div>